/* General styles */
main section {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 2rem 1rem;
}

/* section {
    padding: 2rem 1rem;
} */

section div * {
    margin: 1rem;
}

section > div {
    width: 80%;
    justify-self: center;
}

section > div {
    align-self: center;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

section figure {
    text-align: center;
    justify-self: center;
    width: 80%;
}

hr {
    display: none;
}

p {
    font-size: 1.25rem;
}

main img {
    border-radius: 5%;
}

.flipped > div {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.flipped > figure {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.skinny {
    width: 50%;
}

/* Intro section */
#intro h1 img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#intro div {
    text-align: start;
}

#intro div, #intro figure{
    width: 80%;
    align-self: center;
}

#intro figure {
    text-align: center;
    justify-self: center;
}

#intro figure img {
    border-radius: 50%;
}

/* Technologies section */
/* #technologies {
    grid-template: 1fr/ 1fr 1fr;
} */

#technologies div.lists {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

div.lists {
    margin: 0;
}

/* Experience section */
#experience-section figure{
    text-align: left;
}

#experience-section div{
    text-align: center;
}

#experience-section div {
    /* width: 50%; */
}

/* Goals section */
.flipped > div {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.flipped > figure {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* Hobbies section */
#hobbies-section figure {
    text-align: left;
}

#hobbies-section div {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    main section {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        padding: 1rem 1rem;
    }

    main section, main div {
        text-align: center;
        align-self: center;
    }

    main figure {
        display: flex;
    }

    img {
        max-width: 100%;
        object-fit: cover;
    }

    section > div {
        grid-row: 2 / 2;
    }

    .flipped > div {
        grid-row: 2 / 2;
        grid-column: 1 / 1;
    }
    
    .flipped > figure {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    #hobbies-section div {
        align-self: flex-start;
        text-align: center;
    }
}